<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="comp3350.amate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".presentation.BookActivity"
            android:label="BookActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ReviewActivity"
            android:label="ReviewActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.CartActivity"
            android:label="CartActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.AccountActivity"
            android:label="AccountActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.OrderInfoActivity"
            android:label="OrderInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.OrderSearchActivity"
            android:label="OrderSearchActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.OrderListActivity"
            android:label="OrderListActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.BookListActivity"
            android:label="BookListActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".presentation.CaOneActivity"
            android:label="CaOneActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.CaTwoActivity"
            android:label="CaTwoActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".presentation.BookmarkActivity"
            android:label="BookmarkActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.AccountInfoActivity"
            android:label="AccountInfoActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.RegisterActivity"
            android:label="RegisterActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.AdminListActivity"
            android:label="AdminListActivity">
            <intent-filter>
                <action android:name="android.intent.action." />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>